.fontAr{font-family: Droid; font-size: 11px;}
.fontEn{font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;}
.lang-dropdown{position: absolute; left: auto; margin-top: -20px;}

