@font-face {
  font-family: 'Droid';
  src: local('Droid'), url(./fonts/Droid-Arabic-Kufi.ttf.woff) format('woff');
}
body {
  margin: 0;
  font-family: Droid, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Droid, 'Courier New',
    monospace;
}
